<template>
	<div class="poker">
		<div class="sidebar">
			<h3 v-if="room.id">Room: {{room.id}}</h3>
			<div v-for="roomUser in users" :key="roomUser.id" class="card user d-flex flex-row justify-content-between ">
				<span class="username me-3">{{roomUser.username}}</span>
				<span v-if="room.showNumbers === true">{{roomUser.number}}</span>
				<span v-else-if="!!roomUser.number && roomUser.id == user.id">{{roomUser.number}}</span>
				<span v-else-if="!!roomUser.number && !room.showNumbers">✓</span>
			</div>
		</div>
		<div class="content">
			<div class="content-wrapper">
				
				<template v-if="tasks.length && room.currentTask !== null">
					<h1 class="text-center">Текущая задача</h1>
					<h3 class="text-center mb-4">{{tasks[room.currentTask].title}}</h3>
					
					<div v-if="room.admin === user.id" class="d-flex justify-content-center mb-5">
						<button @click="showResult" class="btn btn-success me-3">Показать результат</button>
						<button @click="nextTask" class="btn btn-info">Следующая задача</button>
					</div>
				</template>
				<template v-else>
					<h1 class="text-center my-4">Все задачи оценнены :)</h1>
				</template>

				<div class="row">
					<div v-for="card in firstRow" @click="vote(card.number)" class="col">
						<div class="card" @click="currentNumber = card.number">
							<div class="header">
								<span>{{card.number}}</span>
							</div>
							<div class="body">
								<img :src="`/${card.number}.webp`" :style="{width: card.width}">
							</div>
							<div class="footer">
								<span>{{card.number}}</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div v-for="card in secondRow" @click="vote(card.number)" class="col">
						<div class="card" @click="currentNumber = card.number">
							<div class="header">
								<span>{{card.number}}</span>
							</div>
							<div class="body">
								<img :src="`/${card.number}.webp`" :style="{width: card.width}">
							</div>
							<div class="footer">
								<span>{{card.number}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<LoginScreen v-if="!!user &&!user.username" @login="login" />
	</div>
</template>

<script>
import LoginScreen from './components/LoginScreen';

export default {
	name: 'App',
	components: {
		LoginScreen
	},
	data: () => ({
		ws: null,
		room: {
			id: null,
			admin: null,
			currentTask: 0,
			showNumbers: false,
		},
		user: {
			id: undefined,
			username: null,
		},
		users: [],
		currentNumber: null,
		tasks: [
			{id: 1, title: 'Создать виджет', weight: null},
			{id: 1, title: 'Прикрутить бэкенд', weight: null},
			{id: 1, title: 'Расписать документацию', weight: null}
		],
		firstRow: [
			{number: 0},
			{number: 1},
			{number: 2, width: '75%'},
			{number: 3, width: '80%'},
			{number: 5},
		],
		secondRow: [
			{number: 8, width: '80%'},
			{number: 13},
			{number: 20},
			{number: 40, width: '80%'},
			{number: 100, width: '80%'},
		],
	}),
	methods: {
		login(props) {
			this.wsSendMsg('poker.login', {
				id: this.user.id,
				...props
			});
		},
		wsSendMsg(cmd, data) {
			if(!this.ws) {
				this.connect();
				setTimeout(() => this.wsSendMsg(cmd, data), 1800);
			} else {
				this.ws.send(JSON.stringify({cmd, ...data}));
			}
		},
		wsMsgParser(res) {
			switch(res.type) {
				case 'connected':
					this.updateUser(res.data);
					break;
				case 'login_success':
					console.log(res)
					this.user = res.data;
					break;
				case 'users_add':
					this.users.push(res.data);
					break;
				case 'users_remove':
					this.users = this.users.filter(user => user.id != res.data.id);
					break;
				case 'users_update':
					this.users = res.data;
					break;
				case 'room_update':
					this.room = res.data;
					break;
				case 'vote':
					this.setUserVote(res.data);
					break;
				case 'users_hide_numbers':
					this.usersHideNumbers();
					break;
				default:
					console.warn(`Unknown message type: ${res.type}!!!`);
			}
		},
		connect() {
			this.ws = new WebSocket('ws://127.0.0.1:18308/poker');
			
			this.ws.onerror = function error(e) {
				console.warn('connect failed!', e)
			}
			
			this.ws.onopen = function open(ev) {
				console.info('connected', ev);
			}
			
			this.ws.onmessage = me => this.wsMsgParser(JSON.parse(me.data));
			
			this.ws.onclose = function close() {
				this.ws = null
				console.info('disconnected')
			}
		},
		
		// Poker...
		vote(number) {
			this.wsSendMsg('poker.vote', {id: this.user.id, number, room: this.room.id});
		},
		setUserVote(data) {
			let userId = data.userId;
			let number = data.number;
			
			this.users = this.users.map(user => {
				if(user.id == userId) {
					user.number = number;
				}
				
				return user;
			})
		},
		showResult() {
			this.wsSendMsg('poker.show-result', {room: this.room.id});
		},
		nextTask() {
			this.wsSendMsg('poker.next-task', {
				currentTask: this.tasks[this.room.currentTask + 1] ? this.room.currentTask + 1 : null,
				room: this.room.id
			});
		},
		
		// Users...
		updateUser(data) {
			let users = this.users.map(user => {
				if(user.id === this.user.id) {
					user.id = data.id;
				}
			});
			
			this.users = users;
			this.user.id = data.id;
		},
		usersHideNumbers() {
			this.users = this.users.map(user => {
				user.number = null;
				return user;
			});
		},
		logout() {
			console.log('hello')
			if(!!this.ws) {
				this.wsSendMsg('poker.logout', { id: this.user.id, room: this.room.id });
			}
			
		}
	},
	
	created () {
		this.connect();
		window.onbeforeunload = () => this.logout();
	}
}
</script>

<style>

.poker {
	display: flex;
}

h1, h3 {
	font-family: sans-serif;
}

.sidebar {
	width: 230px;
	height: 100%;
	display: flex;
	min-width: 230px;
	min-height: 100vh;
	flex-direction: column;
	padding: 10px 5px;
}

.sidebar .user {
	height: 40px;
	margin-bottom: 8px;
}

.user .username {
	font-weight: bold;
	font-family: monospace;
	margin-right: 5px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-wrapper {
	width: 80%;
}

.card {
	height: 320px;
	display: flex;
	overflow: hidden;
	padding: 7px 12px;
	user-select: none;
	position: relative;
	margin-bottom: 30px;
	background-color: #E5F6FF;
	box-shadow: 8px 13px 8px 0px rgba(34, 60, 80, 0.2);
}

.card:active {
	box-shadow: 6px 8px 6px 0px rgba(34, 60, 80, 0.2);
	transform: translateY(4px);
}

.card .header {
	display: flex;
	justify-content: flex-start;
}

.card .header span, .card .footer span {
	z-index: 2;
	color: #2d2d2d;
	font-size: 35px;
	font-weight: 600;
	line-height: 42px;
	font-family: fantasy;
}

.card .footer span {
	transform: rotate(180deg);
	color: #039E82;
}

.card .body {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .body img {
	z-index: 2;
	width: 70%;
	height: auto;
	margin: auto;
	user-select: none;
}

.card .footer {
	display: flex;
	justify-content: flex-end;
}

/* Мелкие узоры на картах */
.content .card::before, .content .card::after {
	top: -25%;
	z-index: 1;
	right: -25%;
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	transform: rotate(81deg);
	background-color: #ffffff;
}

.content .card::after {
	bottom: -25%;
	left: -25%;
	top: unset;
	right: unset;
	transform: rotate(76deg);
}








.content .card .body::before, .content .card .body::after {
	top: 15%;
	z-index: 2;
	right: 40%;
	content: '';
	width: 45px;
	height: 4px;
	position: absolute;
	background-color: #000655;
}

.content .card .body::after {
	bottom: 15%;
	left: -5%;
	top: unset;
	width: 70px;
	right: unset;
	background-color: #039E82;
}



.content .card .header::before {
	content: '';
	width: 0;
	height: 0;
	top: 8%;
	left: 83%;
	z-index: 2;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 23px solid #039E82;
}

.content .card .footer::before {
	content: '';
	width: 0;
	height: 0;
	left: 35%;
	bottom: 6%;
	z-index: 2;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 22px solid #000655;
}
</style>
