<template>
	<div class="background">
		<div class="login-form">
			<h3 class="text-center mb-3">Войти</h3>
			<form @submit.prevent="submit">
				<input v-model="username" required placeholder="Имя..." class="form-control mb-2" type="text">
				<input v-model="room" required placeholder="Комната..." class="form-control mb-4" type="text">
				<button type="submit" class="btn btn-primary w-100">Войти</button>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	name: 'LoginScreen',
	data: () => ({
		room: null,
		username: null,
	}),
	methods: {
		submit() {
			this.$emit('login', {
				room: this.room,
				username: this.username,
			})
		}
	}
}
</script>

<style scoped>
.background {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: fixed;
	align-items: center;
	z-index: 100;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.login-form {
	width: 320px;
	display: flex;
	padding: 10px;
	border-radius: 10px;
	flex-direction: column;
	background-color: #f1f1f1;
}
</style>
